body {
    font-family: Arial, sans-serif;
    background-image: url('background.png'); /* Path to your background image */
    background-size: cover; /* Ensure the background image covers the entire page */
    background-position: center; /* Center the background image */
}

.container {
    max-width: 490px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #72A0C1;
}

input[type="text"],
input[type="email"],
button {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #008B8B;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
